@model IEnumerable<Startup_Weekend_Application.Models.Discover>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Discover</h2>
<p>
    @Html.ActionLink("Add Video", "New")
</p>
<ul>
    @foreach (var Dping in Model)
    {
        <div class ="Dpings">
    <li>@Dping.Game @Dping.Username @Dping.Platform (@Dping.Playstyle) (@Dping.Genre)</li>
        </div>
    }
</ul>
