@using Microsoft.AspNetCore.Identity
@using Startup_Weekend_Application.Models

@model IEnumerable<Startup_Weekend_Application.Models.Ping>

@{
}

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Game)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Platform)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PlayStyle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SkillLevel)
                </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in (IEnumerable<Ping>)ViewData["pings"]) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Game)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Platform)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayStyle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SkillLevel)
            </td>
        </tr>
}
    </tbody>
</table>