@model IEnumerable<Startup_Weekend_Application.Models.Ping>

@{
    Layout="~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="content">
            <div class="container-fluid">
		
		          <button style="float:right;" class="btn btn-danger" data-toggle="collapse" data-target="#filter">Add New</button>
        		


                <div class="row">
                    <div class="col-md-12">
				
				        <div class="card">
					
        				    <div id="filter" class="collapse">
						        <div class="content">

                            @Html.Partial("BeaconFormPartial")
						        </div>
        				    </div>
					    </div>
				    @foreach (Ping ping in (IEnumerable<Ping>)ViewData["richPings"]) {
				
                        <div class="card col-md-12" style="margin-right: px;">
					        <div class="content">
						        <div class="row">
                                    <div class="col-md-10">
								        
                                        <h3 class="title">@ping.Game</h3>
                                        <p class="category">@ping.Platform</p>
                                    </div>
            						<div class="col-md-2">
								            <h3 class="title">@ping.Username</h3>
    							        <h5 class="title">@ping.PlayStyle</h5>
									    <p class="category"> @ping.SkillLevel</p>
								
            						</div>
    						    </div>
						       
				                <div class="footer">
							    <hr>
                                    <p class="category">Posted x minutes ago</p>
					            </div>
						    </div>   
                        </div>
			        }

                </div>
            </div>
        </div>
